## Importing Libraries

In [182]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

## Loading the dataset

In [183]:
data = pd.read_csv("titanic_data.csv")

## Performing EDA and data pre processing

In [184]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [185]:
data.shape

(891, 12)

In [186]:
data.drop(columns=["Name"])

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [187]:
data.Survived.value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [188]:
# percentage of people that survived
data.Survived.value_counts()/data.shape[0]*100

Survived
0    61.616162
1    38.383838
Name: count, dtype: float64

In [189]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [190]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [191]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [192]:
# dropping irrelevant columns
del data["Ticket"]
del data["Name"]
del data["Cabin"]
del data["PassengerId"]
data.head(2)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C

## Filling Missing Values

In [193]:
from sklearn.impute import SimpleImputer

mean_impute = SimpleImputer(missing_values=np.nan, strategy="mean")
mean_impute = mean_impute.fit(data[["Age"]])
data["Age"] = mean_impute.transform(data[["Age"]]).ravel()

In [194]:
mode_impute = SimpleImputer(missing_values=np.NaN, strategy="most_frequent")
mode_impute = mode_impute.fit(data[["Embarked"]])
data["Embarked"] = mode_impute.transform(data[["Embarked"]]).ravel()

In [195]:
# Checking for missing values
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [196]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

## Encoding the categorical variables

In [197]:
# data_encode = pd.get_dummies(data, prefix_sep="_", drop_first=True)
# data_encode

In [198]:
data = pd.get_dummies(data, columns=['Sex', 'Embarked'])

# Convert boolean columns to integers
for col in data.select_dtypes(include='bool').columns:
    data[col] = data[col].astype(int)

print(data.head())

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_female  Sex_male
0         0       3  22.0      1      0   7.2500           0         1  \
1         1       1  38.0      1      0  71.2833           1         0
2         1       3  26.0      0      0   7.9250           1         0
3         1       1  35.0      1      0  53.1000           1         0
4         0       3  35.0      0      0   8.0500           0         1

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

## Splitting the data into train and test

In [199]:
X = data.drop("Survived", axis=1)
y = data["Survived"]

In [200]:
X.shape

(891, 10)

In [201]:
y.shape

(891,)

In [202]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=21)

#Printing shapes
print("Shape of X_train is:", X_train.shape)
print("Shape of X_test is:", X_test.shape)
print("Shape of y_train is:", y_train.shape)
print("Shape of y_test is:", y_test.shape)

Shape of X_train is: (623, 10)
Shape of X_test is: (268, 10)
Shape of y_train is: (623,)
Shape of y_test is: (268,)

In [203]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [204]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [205]:
prediction = model.predict(X_test)

In [206]:
prediction

array([1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1], dtype=int64)

## Evaluating the model

In [207]:
print("Accuracy:", accuracy_score(y_test, prediction))
print("Confusion Matrix:\n", confusion_matrix(y_test, prediction))
print("Classifucation Reaport:\n", classification_report(y_test, prediction))

Accuracy: 0.8059701492537313
Confusion Matrix:
 [[139  22]
 [ 30  77]]
Classifucation Reaport:
               precision    recall  f1-score   support

           0       0.82      0.86      0.84       161
           1       0.78      0.72      0.75       107

    accuracy                           0.81       268
   macro avg       0.80      0.79      0.79       268
weighted avg       0.80      0.81      0.80       268

## Printing a sample of predicted values alongside true values

In [208]:
sample_size = 20
print("Predicted || True")
for pred, true in zip(prediction[:sample_size], y_test[:sample_size]):
    print(f"[{pred:19} | {true}]")

Predicted || True
[                  1 | 0]
[                  0 | 0]
[                  0 | 0]
[                  0 | 0]
[                  0 | 0]
[                  1 | 0]
[                  0 | 0]
[                  0 | 0]
[                  0 | 0]
[                  1 | 0]
[                  0 | 0]
[                  1 | 1]
[                  0 | 0]
[                  0 | 0]
[                  0 | 0]
[                  0 | 0]
[                  0 | 0]
[                  0 | 0]
[                  1 | 1]
[                  1 | 1]